services:
  faiss-grpc:
    build:
      context: .
      dockerfile: services/faiss/Dockerfile
    container_name: faiss-grpc
    ports:
      - "${FAISS_PORT}:${FAISS_PORT}"
    environment:
      FAISS_HOST: ${FAISS_HOST}
      FAISS_PORT: ${FAISS_PORT}
      FAISS_NUM_WORKERS: ${FAISS_NUM_WORKERS}
    restart: unless-stopped

  core-grpc:
    build:
      context: .
      dockerfile: services/core/Dockerfile
    container_name: core-grpc
    ports:
      - "${CORE_PORT}:${CORE_PORT}"
    environment:
      CORE_HOST: ${CORE_HOST}
      CORE_PORT: ${CORE_PORT}
      CORE_NUM_WORKERS: ${CORE_NUM_WORKERS}
    depends_on:
      - faiss-grpc
    restart: unless-stopped